<div class="menu-responsive"><a href="#"> <b>sam martin</b></a> <a id="menu-icon" class="but" href="#"><span class="ti-menu"></span> </a></div>
<header id="left-header" class="header">
    <nav id="menu" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> <img id="logo_imgg" src="../images/logo.png" alt=""> </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="navbar" class="nav navbar-nav">
                <li class="active"><a href="#home" class="page-scroll">ANASAYFA</a></li>
                <li><a href="#portfolio" class="page-scroll">ALBÜM</a></li>
                <li><a href="#availability-calendar" class="page-scroll">RANDEVU</a></li>
                <li><a href="#testimonials" class="page-scroll">KUAFÖRLER</a></li>
                <li><a href="#contact" class="page-scroll">İLETİŞİM</a></li>
            </ul>
        </div>
    </nav>
    <div class="menu-footer">
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i> </a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© BAR-BER </p>
        </div>
    </div>
</header>

<!--=================================
  ANASAYFA -->

<section class="content-scroller">
    <div id="home" class="intro-bg" style="background: url('../images/bg.jpg');">
        <div id="scroll-down" class="intro">
            <div class="intro-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-left content-left">
                            <h1> <span> Merhaba </span> BAR-BER</h1>
                            <div id="typer"></div>
                            <div class="button-large">
                                <a href="@Url.Action("Login", "Uye")">GİRİŞ YAP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="scroll-down page-scroll" title="Scroll Down" href="#portfolio"><i></i></a>
        </div>
    </div>


    <!--=================================
     ALBÜM -->

    <section id="portfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>ÇALIŞMALAR</span>
                            <h2>ALBÜM</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope popup-portfolio full-screen">
                <div class="grid-item corporate criminal-defence">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/02.jpg" rel="lightbox[group]"> <img src="../images/portfolio/02.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item corporate">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/01.jpg" rel="lightbox[group]"> <img src="../images/portfolio/01.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item justice-fight">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/03.jpg" rel="lightbox[group]"> <img src="../images/portfolio/03.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item criminal-defence">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/04.jpg" rel="lightbox[group]"> <img src="../images/portfolio/04.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item corporate">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/05.jpg" rel="lightbox[group]">  <img src="../images/portfolio/05.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/06.jpg" rel="lightbox[group]">   <img src="../images/portfolio/06.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item justice-fight">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/07.jpg" rel="lightbox[group]">   <img src="../images/portfolio/07.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item justice-fight">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-inner">
                                <a href="../images/portfolio/08.jpg" rel="lightbox[group]"> <img src="../images/portfolio/08.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
     ALBÜM -->
    <!--=================================
     ALBÜM -->
    <!--=================================
     RANDEVU -->
    <section id="availability-calendar" class="calendar white-bg page-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>RANDEVU TAKVİMİ</span>
                            <h2>RANDEVU ALIN !</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="main-calendar">
                        <h2 style="color:#fff;">HEMEN KUAFÖRÜNÜZÜ SEÇİN VE RANDEVUNUZU ALIN !</h2>
                    </div>
                </div>
            </div>
    </section>
    <!--=================================
    RANDEVU -->
    <!--=================================
     KUAFÖRLER -->

    <section id="testimonials" class="testimonials white-bg page-section-pt">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>KUAFÖRLERİMİZ</span>
                            <h2>KUAFÖRLER</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/01.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4>Barış Ömer Döngel</h4>
                        <span>İşyeri Sahibi</span>
                    </div>
                </div>
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/02.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p> Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4>Kübra Bilğiç</h4>
                        <span>Lisanslı Kuaför</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/03.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4>Emre Yonarsoy</h4>
                        <span>Lisanslı Kuaför </span>
                    </div>
                </div>
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/04.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4> Ayşegül Göçmen</h4>
                        <span>Lisanslı Kuaför</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/05.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4>Burak Gül</h4>
                        <span>Lisanslı Kuaför</span>
                    </div>
                </div>
                <div class="testimonials-block">
                    <div class="testimonials-content">
                        <div class="testimonials-avtar">
                            <img class="imgresponsive" src="../images/testimonials/06.jpg" alt="">
                        </div>
                        <div class="testimonials-comment">
                            <p>Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
                        </div>
                    </div>
                    <div class="testimonials-name">
                        <h4>Canan Birinci</h4>
                        <span>Lisanslı Kuaför</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--=================================
     KUAFÖRLER -->
    <!--=================================
     İLETİŞİM -->
    <section id="contact" class="google-map white-bg page-section-pt">
        <div class="container-fluid">
            <div class="contact">
                <h2>BİZE ULAŞIN ! </h2>
                <div class="address">
                    <ul>
                        <li><span class="ti-location-pin"></span> <p>24 SL Road, London. UK</p> </li>
                        <li><span class="ti-marker-alt"></span> <p>sam@website.com </p></li>
                        <li><span class="ti-mobile"></span> <p>(123)-456-7890 </p></li>
                        <li><span class="ti-printer"></span> <p>(098)-765-4321 </p></li>
                    </ul>
                </div>
                <div class="social">
                    <h4>Sosyal Medyada Biz !</h4>
                    <p>Bizi Sosyal Medyadan Takip Edebilirsiniz.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                        <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                </div>
                <div class="button-large"><a href="@Url.Action("Login", "Uye")">RANDEVU</a></div>
            </div>
            <div class="contact-form">
            </div>
        </div>
    </section>
</section>