<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Sam Martin - Personal Vcard Resume HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Bar-Ber - Kuaförünüz</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" />

    <!-- bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />

    <!-- themify icon -->
    <link href="~/Content/css/themify-icons.css" rel="stylesheet" type="text/css" />

    <!-- font awesome  -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- magnific popup -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" type="text/css" />

    <!-- jquery ui -->
    <link rel='stylesheet' href="~/Content/css/jquery-ui.css">

    <!-- main style -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />

    <!-- responsive -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/datepicker3.min.css" />
    <!--lightbox-->
    <link rel="stylesheet" href="~/Content/css/lightbox.css" />

    <style type="text/css">
        .row {
            margin: 0px;
        }
    </style>

</head>

<body>
    <!--=================================
      YÜKLEME EKRANI -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>

    <!--=================================
      YÜKLEME EKRANI -->

    @RenderBody()


    <!--=================================
     javascript -->
    <!-- jquery -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>

    <!-- modernizr -->
    <script type="text/javascript" src="~/Content/js/modernizr.min.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--script lightbox-->
    <script src="~/Content/js/lightbox.js"></script>
    <!-- custom -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/sam-martin/lawyer/layout-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2017 09:03:41 GMT -->
</html>


